@import '../node_modules/bulma/bulma.sass';

body {
  padding: 20px;
  height: 100vh;
  background-color: $white-ter;
}

.button fa-icon:not(:last-child) {
  margin-right: 8px;
}

.button.has-icon {
  width: 40px;
  margin-left: 8px;
}

.small-window
{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  max-height: 800px;
}
